<nz-table #fixedTable [nzData]="products" [nzScroll]="{ x: '1000px', y: '400px' }">
  <thead>
    <tr>
      <th nzWidth="80px" nzLeft>序号</th>
      <th>产品名称</th>
      <th>最小购买金额</th>
      <th>起购日期</th>
      <th>预计年利率</th>
      <th>描述</th>
      <th nzRight nzWidth="100px">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of fixedTable.data; let i = index">
      <td nzWidth="80px" nzLeft>{{ i + 1 }}</td>
      <td nzBreakWord>{{ data.name }}</td>
      <td nzBreakWord>{{ data.minimumInvestment }}</td>
      <td nzBreakWord>{{ data.depositTerm }}</td>
      <td nzBreakWord>{{ data.rate }}%</td>
      <td nzBreakWord>{{ data.description }}</td>
      <td nzRight nzWidth="100px">
        <a class="mr-2" (click)="onEditProduct(data)">购买</a>
      </td>
    </tr>
  </tbody>
</nz-table>

<ng-template #editProductTemp>
  <div class="flex items-center my-2">
    <div class="mr-2">请输入购买金额：</div>
    <nz-input-number
      style="width: 200px"
      [(ngModel)]="amount"
      [nzPlaceHolder]="'请输入购买金额'"
      [nzMin]="0"
      [nzStep]="1"
    ></nz-input-number>
  </div>
</ng-template>
