<div class="body-style">
  <div class="page-left">
    <div>
      <!-- 常用功能区域 -->
      <div class="function-menu">
        <div class="function-title">
          <div class="border-left"></div>
          <div>常用功能</div>
        </div>
        <div class="menu-list">
          <a class="menu-item" (click)="goToPage(item.label)" *ngFor="let item of commonFunctions">
            <img class="menu-item-img" [src]="item.src" />
            <div class="menu-item-text">{{item.label}}</div>
          </a>
        </div>
      </div>

      <!-- 产品区域 -->
      <div class="product-style">
        <div class="product-title">
          <div id="leftList" class="name-style">
            <span>投资理财</span>
          </div>
          <div id="leftUnderline" class="underline-left"></div>
          <div id="leftUnderline" class="underline-right"></div>
        </div>
        <div class="product-content1" id="product-content1">
          <div class="product-item" *ngFor="let item of financialProducts">
            <div class="item-name">{{ item.name }}</div>
            <div class="item-describe">{{ item.describe }}</div>
            <div class="item-describe-buy">{{ item.describeBuy }}</div>
            <div id="item-yield-finance" class="item-yield">{{ item.yieldFinance }}</div>
            <div class="item-yield-name">{{ item.yieldName }}</div>
            <div class="item-btn" (click)="buyYield(item)">立即购买</div>
          </div>
        </div>
      </div>
    </div>
    <!-- 个人信息区域 -->
    <div class="self-msg-from">
      <div class="self-msg">
        <div>
          <img id="userImgId" class="self-msg-img" src="./../../assets/men.png" />
        </div>
        <div class="pt-8">
          <div class="flex items-center">
            <div>{{ userSvc?.currentLoginUser?.name || userSvc?.currentLoginUser?.userName }}</div>
            <img
              (click)="moneyEye()"
              class="icon_eye ml-4"
              [src]="'./../../assets/' + (isShow ? 'icon_eye_show.png' : 'icon_eye_hide.png')"
              style="height: 24px"
            />
          </div>
          <div calss="self-msg-moible">客户号(3240044927)</div>
        </div>
      </div>
      <div class="property-msg">
        <div class="">
          <div class="property-num" id="crnHoldsAmtId">{{ isShow ? 1000000 : '*****' }}</div>
          <div class="property-name">账户总资产(元)</div>
        </div>
        <div class="">
          <div class="earn-num" id="yesterdayPftId" style="color: black">{{ isShow ? 866 : '*****' }}</div>
          <div class="earn-name">昨日收益(元)</div>
        </div>
        <div class="">
          <div class="property-num2" id="flexibleCashId">{{ isShow ? 1000000 : '*****' }}</div>
          <div class="property-name2">灵活取用(元)</div>
        </div>
      </div>
      <div class="noticeNew">
        <span class="notice-title">公告</span>
      </div>
      <div id="scroll-box">
        <ul id="noticeId" style="height: 280px">
          <li>
            <div class="notice-content">
              <div class="hot-topic">热门</div>
              <div>
                <a href="javascript:void(0)" title="网上银行安全提示" target="content-iframe">网上银行安全提示</a>
              </div>
            </div>
          </li>
          <li>
            <div class="notice-content">
              <div class="hot-topic">热门</div>
              <div>
                <a
                  href="javascript:void(0)"
                  title="我行普发活期宝合作方将于2024年1月20日凌晨1:30-7：00进行系统维护，期间普发活期宝的开户、销户交易可能受到影响，涉及产品为：嘉实增益宝A、嘉实现金宝E、嘉实活期宝。请您提前做好相关安排，避开上述时间段操作，给您带来的不便敬请谅解。"
                  target="content-iframe"
                  >我行普发活期宝合作方将于2024年1月20日...</a
                >
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- banner展示区域 -->
      <div class="welcome" id="banner_pic_true">
        <div class="banner">
          <div class="banner_container">
            <img src="./../../assets/baoxian.png" alt="" style="opacity: 1; z-index: 1; display: block" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 行情信息展示区域 -->
  <div class="rate-style">
    <div class="rate-title">
      <div class="border-left"></div>
      <div>利率汇率</div>
    </div>
    <div class="rate-from-msg">
      <div class="from-item">
        <div class="from-item-name">存款利率</div>
        <div id="deposit-scroll-list">
          <ul id="depositRate">
            <li>
              <div class="scroll-item-name">个人储蓄（活期存款）</div>
              <div class="scroll-item-msg">0.20%</div>
            </li>
          </ul>
        </div>
      </div>
      <div class="from-item">
        <div class="from-item-name">贷款利率</div>
        <div id="loan-scroll-list">
          <ul id="loanRate">
            <li>
              <div class="scroll-item-name">贷款市场报价利率（一年期）</div>
              <div class="scroll-item-msg">3.45%</div>
            </li>
          </ul>
        </div>
      </div>
      <div class="parities-from-item">
        <div class="parities-item-name">汇率</div>
        <div id="parities-scroll-list">
          <ul id="paritiesRate">
            <li>
              <div class="scroll-item-name">买入价(汇/钞)</div>
              <div class="parities-text2">100.00 / 100.00</div>
            </li>
          </ul>
        </div>
      </div>
      <div class="sell-from-item">
        <div id="sell-scroll-list">
          <ul id="sellRate">
            <li>
              <div class="scroll-item-name">卖出价</div>
              <div class="sell-text2">100.00</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
