<nz-collapse>
  <nz-collapse-panel [nzHeader]="'开放式理财产品，按日开放，申购灵活，赚钱花钱两不误！'" [nzActive]="true">
    <p style="margin: 0">
      详情：<br />来自山东的新手爸爸林先生问：<br />有没有什么投资理财途径适合我的？家里有点闲钱，但又不敢进行固定期限的投资理财，因为担心有时候要急用时没法变现，不能保证家里的灵活开销。麻烦推荐一下。最好风险低、收益有保障的。<br />来自建行的热心客户经理李腾答：<br />收入像一条河，财富是水库，花钱如流水。理财就是管好水库，要开源节流、精打细算。不管在人生的哪个阶段，理财都是需要思考的重要问题。<br />根据林先生的需求，我们推荐建行开放式资产组合型人民币理财产品
      点击立即选购 ><br />推荐产品：<br />“乾元—日日鑫高”（按日）、“乾元—日鑫月溢”（按日）开放式资产组合型人民币理财产品<br />产品特色：<br />·
      按日开放、高流动性<br />产品存续期内，每个产品工作日均可申请申购和赎回<br />· 购买起点低<br />5万起购金额，您可灵活追加<br />·
      风险较低<br />专业投资管理队伍，只为客户更加安心<br />· 收益节节高<br />设置多档差别化预期年化收益率<br />资金投向：<br />产品募集资金投资于债权类资产、债券和货币市场工具类资产及其他符合监管要求的资产组合。<br />•
      乾元-鑫满溢足，让您心满意足！<br />• 乾元汇得盈，帮您玩转外币理财！<br />张先生手头外币较多，且经常出国，所以不适合全部换成人民币进行投资，适合选择收益稳健的外币理财产品。我们推荐建行汇得盈非保本外币理财产品
      点击立即选购 ><br />产品特色<br />• 盘活外币，赚取收益<br />以外币募集资金，换汇后投资境内金融工具，客户的收益部分以人民币支付，客户的投资本金部分以原币种支付。<br />•风险适中<br />专业投资管理队伍，适合具有一定风险承受能力的收益型、稳健型、进取型及积极进取型个人客户。<br />•资金投向<br />本产品投资于（含直接投资、通过信托计划和基金公司资产管理计划投资）：国内银行间外汇掉期市场，银行间债券市场各类债券、回购、同业存款等，以及其他监管机构允许交易的金融工具。
    </p>
  </nz-collapse-panel>
  <nz-collapse-panel [nzHeader]="'乾元-鑫满溢足，让您心满意足！'" [nzActive]="false">
    <p style="margin: 0">
      详情：<br />住在上海的董女士今年29岁，某知名大学毕业，喜欢有挑战性的工作，目前在一家创业公司担任销售部经理，现有活期存款10万元，平时有时间喜欢出去旅游，登山、滑雪都是她很喜欢的运动。<br />案例分析<br />董女士平时花销不多、收入较为稳定、偶尔会有较大的消费支出，适合选择收益稳健、期限相对灵活的理财产品。我们推荐建行“乾元-鑫满溢足”开放式净值型理财管理计划<br />产品特色<br />•每月开放、提前申赎<br />资金流动性高于普通的银行理财产品，产品每月10日开放（如遇非工作日顺延至下一工作日），用户在开放日前7个自然日可以进行申购、赎回等操作。<br />•收益透明，模式新颖<br />产品收益以产品净值的形式定期公布，收益天天涨涨涨。<br />•风险适中<br />专业投资管理队伍，适合具有一定风险承受能力的稳健型、进取型、积极进取型高净值客户以及机构客户。<br />•资金投向：<br />投资于货币市场工具，银行间市场和证券交易所流通的债券、资产支持证券等有价证券，证券投资基金，理财直接融资工具以及银监会认可的其他标准化金融投资工具。<br />•
      乾元汇得盈，帮您玩转外币理财！<br />张先生手头外币较多，且经常出国，所以不适合全部换成人民币进行投资，适合选择收益稳健的外币理财产品。我们推荐建行汇得盈非保本外币理财产品
      点击立即选购 ><br />产品特色<br />• 盘活外币，赚取收益<br />以外币募集资金，换汇后投资境内金融工具，客户的收益部分以人民币支付，客户的投资本金部分以原币种支付。<br />•风险适中<br />专业投资管理队伍，适合具有一定风险承受能力的收益型、稳健型、进取型及积极进取型个人客户。<br />•资金投向<br />本产品投资于（含直接投资、通过信托计划和基金公司资产管理计划投资）：国内银行间外汇掉期市场，银行间债券市场各类债券、回购、同业存款等，以及其他监管机构允许交易的金融工具。
    </p>
  </nz-collapse-panel>
  <nz-collapse-panel [nzHeader]="'乾元汇得盈，帮您玩转外币理财！'" [nzActive]="false">
    <p style="margin: 0">
      张先生手头外币较多，且经常出国，所以不适合全部换成人民币进行投资，适合选择收益稳健的外币理财产品。我们推荐建行汇得盈非保本外币理财产品
      点击立即选购 ><br />产品特色<br />• 盘活外币，赚取收益<br />以外币募集资金，换汇后投资境内金融工具，客户的收益部分以人民币支付，客户的投资本金部分以原币种支付。<br />•风险适中<br />专业投资管理队伍，适合具有一定风险承受能力的收益型、稳健型、进取型及积极进取型个人客户。<br />•资金投向<br />本产品投资于（含直接投资、通过信托计划和基金公司资产管理计划投资）：国内银行间外汇掉期市场，银行间债券市场各类债券、回购、同业存款等，以及其他监管机构允许交易的金融工具。
    </p>
  </nz-collapse-panel>
</nz-collapse>
